<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BudgetBuddy.Properties.Settings.BudgetBuddyConnectionString"
            connectionString="Data Source=LAB1-PC5;Initial Catalog=BudgetBuddy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BudgetBuddy.Properties.Settings.BudgetBuddyConnectionString1"
            connectionString="Data Source=LAB1-PC5\LAB1PC5;Initial Catalog=BudgetBuddy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BudgetBuddy.Properties.Settings.BudgetBuddyConnectionString2"
            connectionString="Data Source=LAB1-PC4\LAB1PC4;Initial Catalog=BudgetBuddy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BudgetBuddy.Properties.Settings.BudgetBuddyConnectionString3"
            connectionString="Data Source=DESKTOP-CCUR4CG;Initial Catalog=BudgetBuddy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
	  <UseRandomizedStringHashAlgorithm enabled="0" />
	  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding> 
  </runtime>
</configuration>